language: android

sudo: false

android:
  components:
    - build-tools-24.0.3
    - android-25
    - extra-google-m2repository
    - extra-android-m2repository

  licenses:
    - android-sdk-license-.+

script: ./gradlew clean build --info
